<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>org.postgresql.Driver</driverClass>
            <url>jdbc:postgresql://localhost:5432/hw16_log</url>
            <user>postgres</user>
            <password>redstar1</password>
        </connectionSource>
        <sqlDialect class="ch.qos.logback.core.db.dialect.PostgresSQLDialect"/>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="DB"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>